body {
	overflow: hidden;
	font-family: Helvetica, Sans-Serif;
}

p {
    display: grid;
    font-size: 70px;
    color: black;
    margin: 0;
    line-height: 70px;
    text-align: center;
}

img {
    display: grid;
}

.meme {
  display: grid;
  grid-template-columns: 1.6fr 1fr 0.2fr 0.8fr 0.2fr 1.7fr 0.5fr 1.5fr;
  grid-template-rows: 0.05fr 0.6fr 1.3fr 0.8fr 0.9fr 1.1fr 0.5fr 0.8fr 1.3fr 0.5fr;
  gap: 0px 0px;
}

.door {
    display: grid;
    grid-area: 2 / 2 / 5 / 4;
    justify-content: right;
}

.rear-un-officer {
    display:grid;
    grid-area: 3 / 3 / 5 / 5;
    justify-items: left;
    z-index: 1;
    /*align-content: center;*/
}

.front-un-officer {
    display: grid;
    grid-area: 4 / 2 / 7 / 3;
}

.trollface {
    display: grid;
    grid-area: 6 / 6 / 9 / 8;
    justify-content: right;
}

.trollface-text {
    display: grid;
    grid-area: 9 / 7 / 10 / 9;
    text-align: left;
    justify-content: left;
}

.un-text {
    display: grid;
    grid-area: 7 / 1 / 9 / 5;
}
